@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 255 255 255;
  --color-foreground: 0 0 0;
  --color-primary: 24 100 171;
  --color-secondary: 107 114 128;
}

.dark {
  --color-background: 17 24 39;
  --color-foreground: 255 255 255;
  --color-primary: 37 99 235;
  --color-secondary: 156 163 175;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
